div[class^="summary_ctaBlock_"] p {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px;
}
div[class^="summary_ctaBlock_"] ul {
  width: 100%;
}
div[class^="summary_ctaBlock_"] li {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 4px;
  line-height: 18px;
  display: flex;
  align-items: center;
}
div[class^="summary_ctaBlock_"] li svg {
  margin-right: 8px;
  min-width: 11px;
}
