.banner-block {
  background: no-repeat #fff;
  -webkit-box-shadow: rgb(51 59 81 / 5%) 0px 15px 30px;
  box-shadow: rgb(51 59 81 / 5%) 0px 15px 30px;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 16px 24px 24px 24px;
  position: relative;
  cursor: pointer;
  opacity: 0;
  animation: fadeIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s forwards;
  max-width: 375px;
  box-sizing: border-box;
}
#close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
#speero-content-banner #close-btn svg {
  pointer-events: none;
}
.content {
  /*width: 56%;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*-webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;*/
}
.speero-list li {
  margin-bottom: 4px;
  line-height: 1.5;
  font-size: 12px;
  display: flex;
  align-items: center;
  /*display: grid;
  -webkit-box-align: center;
  align-items: center;
  grid-template-rows: auto;
  grid-template-columns: 22px auto;
  column-gap: 12px;*/
}
.speero-list li:before {
  content: " ";
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7071 0.292832C11.0976 0.683356 11.0976 1.31652 10.7071 1.70705L4.71109 7.70713C4.32057 8.09766 3.6874 8.09766 3.29688 7.70713L0.292909 4.69938C-0.0976152 4.30886 -0.0976152 3.67568 0.292909 3.28516C0.683433 2.89463 1.3166 2.89463 1.70712 3.28516L4.00399 5.58581L9.29288 0.292832C9.6834 -0.0976921 10.3166 -0.0976921 10.7071 0.292832Z' fill='%23FF642D'/%3E%3C/svg%3E%0A");
  background-size: 11px 8px;
  background-repeat: no-repeat;
  background-position: center center;
  display: inline-block;
  width: 11px;
  height: 8px;
  margin-right: 10px;
}
.banner-body-container {
  order: 2;
  max-width: 100%;
}
.banner-image {
  display: flex;
  max-width: 275px;
  /*margin: 0 auto;
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;*/
}
.img-1 {
  max-width: 100%;
}
.cta {
  /*max-width: 252px;*/
  width: 100%;
  margin-top: 8px;
}
.banner-heading {
  color: #000;
  font-size: 22px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 8px;
  max-width: 219px;
}
.btn-link {
  background-color: #f50 !important;
  border: 0px;
  /*background-color: rgb(66, 25, 131) !important;*/
  color: rgb(255, 255, 255) !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 42px;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  font-size: 14px !important;
}
.cta > .btn-link:not([data-test]):hover {
  -webkit-filter: brightness(0.8);
  filter: brightness(0.8);
  opacity: 1;
  color: rgb(255, 255, 255) !important;
  text-decoration: none;
}
.sub-text {
  font-size: 12px;
  font-size: 10px;
  color: #333;
  margin-top: 8px;
}

#speero-content-banner {
  /*background-color: rgb(0 0 0 / 80%);*/
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 600001;
  display: grid;
  justify-content: space-around;
  align-content: space-evenly;
}
.sp-overlay {
  background-color: rgb(0 0 0 / 80%);
  width: 100%;
  position: fixed;
  /* display: block; */
  height: 100vh;
  cursor: pointer;
  z-index: -1;
  animation: fadeIn 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@media (min-width: 768px) {
  .content {
    flex-wrap: nowrap;
  }
  .banner-heading {
    line-height: 38px;
    font-family: Inter;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 8px;
    max-width: 320px;
    margin-top: 3px;
  }
  .banner-body-container {
    flex: 1 0 320px;
    order: 0;
  }
  .banner-block {
    width: 724px;
    max-width: 100%;
    margin: 0 auto;
    padding: 47px 40px 38px 50px;
    box-sizing: border-box;
  }
  .cta {
    margin-top: 18px;
    max-width: 252px;
  }
  .btn-link {
    min-width: 252px;
  }
  .banner-image {
    justify-content: flex-end;
    max-width: 100%;
  }
  .sub-text {
    font-size: 12px;
    white-space: nowrap;
  }
}
