.speero-container {
  box-sizing: border-box;
  background-color: #f8f8f8;
  position: relative;
  padding: 80px 0px;
}
.speero-container img {
  max-width: 100%;
}
.speero-container-inner {
  max-width: 1600px;
}
.speero-container h2 {
  color: #231b22;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
}
.speero-container .tagline {
  color: #6b6b78;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 12px;
  line-height: 140%;
}
.speero-tab-content {
  max-width: 1060px;
  margin: auto;
}
.speero-tab-content .col:first-of-type {
  margin-bottom: 40px;
}
.speero-tab-content > div {
  display: none;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.speero-tab-content > div.active {
  display: flex;
}
.speero-tab-content h4 {
  color: #231b22;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 12px;
  margin-top: 40px;
}
.speero-tab-content p {
  color: #6b6b78;
  font-size: 20.038px;
  font-weight: 400;
  line-height: 140%;
}
.speero-container .nav {
  position: relative;
  margin: 60px 0 65px;
  display: grid;
  grid-template-columns: repeat(2, 158px);
  justify-content: center;
}
.speero-container .nav-link {
  color: #6b6b78;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 21px 8px;
  cursor: pointer;
  white-space: nowrap;
}
#nav-1,
#nav-2 {
  border-bottom: 1px solid #d7d7e0;
}
.speero-container .nav-link.active {
  background: transparent !important;
  color: #d8385e;
}
.speero-container .indicator {
  position: absolute;
  top: 100%;
  min-width: 0;
  width: 0;
  height: 4px;
  background: rgb(216, 56, 94);
  transition: all 500ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
@media (min-width: 0px) {
  .speero-container-inner {
    margin-left: 20px;
    margin-right: 20px;
  }
}
@media (min-width: 768px) {
  .speero-container .nav {
    grid-template-columns: repeat(4, 158px);
  }
  .speero-container .nav-link {
    border-bottom: 1px solid #d7d7e0;
  }
  .speero-tab-content > div {
    flex-direction: row;
    text-align: left;
  }
  .speero-tab-content .col:first-of-type {
    margin-right: 42px;
    margin-bottom: 0px;
    flex: 0 1 524px;
  }
  .speero-container .nav {
    position: relative;
    margin: 70px 0 75px;
  }
}
@media (min-width: 1024px) {
  .speero-container-inner {
    margin-left: 71px;
    margin-right: 71px;
  }
  .speero-container h2 {
    font-size: 48px;
  }
  .speero-tab-content h4 {
    margin-top: 0px;
  }
}
